---
services:

  notifier:
    build:
      context: .
      dockerfile: notifier.dockerfile
    ports:
      - "3002:3002"
    environment: 
      SERVER_PORT: 3002 

  game-app:
    build:
      context: .
      dockerfile: game.dockerfile
    ports:
      - "3001:3001"
    environment: 
      OTEL_URL: 'http://otelcol:4318'
      DICE_URL: 'http://dice-app:3010'
      SERVER_PORT: 3001 
  
  dice-app:
    build:
      context: .
      dockerfile: dice.dockerfile
    ports:
      - "3010:3010"
    environment: 
      OTEL_URL: 'http://otelcol:4318'
      LOGGER_URL: 'http://otelcol:3100'
      SERVER_PORT: 3010 
  
  otelcol:
    image: otel/opentelemetry-collector-contrib:0.123.0
    restart: on-failure
    volumes:
      - ./collector-config.yaml:/etc/otelcol-contrib/config.yaml
    ports:
      - 4317:4317
      - 4318:4318
    depends_on:
      - grafana

  grafana:
    image: grafana/otel-lgtm
    restart: on-failure
    ports:
      - 3000:3000
    volumes:
      - ./data:/data
    environment:
      - ENABLE_LOGS_TEMPO=true
      - ENABLE_LOGS_OTELCOL=true  
